 /* body {
    font-size: 130%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 38%, rgba(9,121,116,1) 63%);
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    padding: 4em;
    list-style:none ;
    
    border:mediumaquamarine solid 2px;
}  */
/* .float{float: inherit;} */
body{text-align: center;}
 h1{font-weight: 800;}

.right {
    padding-left: 2em;
}
.rightm{padding-left: 5.8em;}
.bottom{padding-bottom: 1.5em;}
input[type="button"] {
    font-weight: 200;
    ;
}

.more {
    padding-left: 12em;
    padding-top: 0.5em;
}
.btnAdd {
     float: right; 
    background-color:lightcoral;
    border-radius: 3px;
color: white;
    font-size: 13px;
    /* width:6em; */
    height: 2em;
    cursor: pointer;
    
    text-align: start;
    
    
}
.btnAdd:hover:focus {
    background-color: #2980B9;
  
}
.btnAdd-2:hover:focus{background-color:lightcoral ;}
.bread{display: flex;}
/* .btnAdd{
   
    } */
    .btnAdd-2{
        cursor: initial;
        
        text-align: start;
        color: black;
        }
    .left{padding-right: 3em;}
.flex {
    display: flex;
    zoom: 1;
}
.min{padding-top: 1.2em;}
.top {
    padding-top: 2em;
    
}

.higherbottom{padding-bottom: 0.5em;}

select {
    color: black;
    background-color:wheat;
   width: 8em;
   border-radius: 5px;
}
.regNumber,.regNumber-2{width: 10em;
height: 1.7em;


 } 
 
 
/* .regNumList{list-style-type: none;
padding-right: 2em;} */
.success{color: green;
    font-size: initial;
    padding-bottom: 3px;
font-weight: 100;

text-align: center;
width: fit-content;
height: 1.7px;
padding: 1em;
}
.failed{color: red;
    padding: 1em;
    font-size: large;
    width: fit-content;
text-align: start;
height: 1.7px;

   }
   .padding{padding: 1em;}
.plateStyle {
     
    background-color: yellow;
    width: 7.5em;
    font-weight: 900;
    margin:1em;
    border-radius: 0.3em;
  padding: 4px;  
    border:1px solid black ;
    text-align:  center ;
    display: inline-block;
  }
  
li {list-style-type: none}
ul{list-style-type:none;}
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 2) {
   .tillBtn   {display: flex;

      }
      .bread{display:flex}
  } 
  