body {
    font-size: 150%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 38%, rgba(9,121,116,1) 63%);
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em; */
    padding: 4.7em;
    border: 5px solid lightgrey;
    list-style:none ;
}
h1{font-weight: 800;}

.right {
    padding-left: 6em;
}

.bottom{padding-bottom: 1.5em;}
input[type="button"] {
    font-weight: 200;
}

.more {
    padding-left: 12em;
    padding-top: 0.5em;
}
.btnAdd {
    float: right;
    background-color:cadetblue;
    border-radius: 5px;
    padding: 4px;
    font-size: 16px;
    width: 4.5em;
    
}
.btnAdd:hover, .btnAdd:focus {
    background-color: #2980B9;
    
}
.btnAdd{
    cursor: pointer;
    }
.flex {
    display: flex;
    zoom: 1;
}

.top {
    padding-top: 2em;
    
}


select {
    color: black;
    background-color:wheat;
   
}
.regNumList{list-style-type: none;}
.success{color: green;
font-weight: 100;}
.failed{color: red;}
.plateStyle {
     
    background-color: yellow;
    width: 8em;
    font-weight: 800;
    margin:1.2em;
    border-radius: 0.3em;
padding: 8px;
    border:1px outset black ;
    text-align:  center ;
  }
  
li{list-style-type: none}
ul{list-style-type:none;}
