body{font-size: 150%;
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em}
.right{padding-left: 6em;};
 input[type="button"]{
   font-weight: 200;
}
.more{padding-left: 13em;
padding-top: 0.25em;}
.btnAdd{ 
  float: right;
  background-color: blueviolet;
  border-radius: 1em;
  padding: 4px;
  font-size: 16px;
}
.flex{
   display: flex;
   zoom: 1;
}
.top{padding-top: 1em;}